<?xml version="1.0" encoding="utf-8"?>
<launch>
	<node pkg="tf" type="static_transform_publisher" name="azure_camera_base" args="0 0 0 0 0 0 /vicon/azure/azure  /camera_base  100"/>
	<node pkg="tf" type="static_transform_publisher" name="camera_to_link" args="0 0 0 1.5708 0 1.5708  /camera_base  /rgb_camera_link  100"/>
</launch>